.wp-block-button {
  &__link {
    @extend .button, .is-primary;

    &.no-border-radius {
      border-radius: 0;
    }
  }

  &.is-style-outline {
    .wp-block-button__link {
      @extend .is-outlined;

      @each $name, $color in $gbcolors {
        &.has-#{$name}-background-color {
          border-color: $color !important;
          color: $color;

          &:hover {
            background-color: $color;
            color: $white;
          }
        }
      }
    }
  }

  &.aligncenter {
    @extend .has-text-centered;
  }

  &.alignright {
    @extend .has-text-right;

    float: none !important;
  }
}
