.wp-block-file {
  @include standardwidth;

  width: 300px;

  @extend .level;

  a:first-of-type {
    @extend .level-left;

    text-align: right;
  }

  a:last-of-type {
    @extend .level-right;

    text-align: left;
  }

  &__button {
    @extend .button, .is-primary;
  }

  &.alignwide {
    @include alignwide;
  }

  &.alignfull {
    @include alignfull;
  }
}
