// Widths

@mixin alignwide {
  width: 100%;
  max-width: $fullhd;
  margin-left: auto;
  margin-right: auto;
}

@mixin alignfull {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
}

@mixin standardwidth {
  max-width: $desktop;
}
